<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <img src="/img/chunmanlee.jpg" width="100"> </img>

    <h3>Personal Info</h3>

    <ul>
      <li> Legal Name : Chun Man Lee</li>
      <li> Student ID : 301259281 </li>
      <li> From : Hong Kong</li>
      <li> Program : Software Engineering Technology </li>
    </ul>
    <h3>My favorite activities</h3>

    <ul>
      <li> Book reading.</li>
      <li> Gaming. </li>
      <li> BJJ Training. </li>
      <li> Traveling </li>
      <li> Hiking </li>
      <li> Chili food </li>
    </ul>


    <H3> About me</H3>
    <p color="#056608"><b><i>Hello my name is Keith , I am a international student who study in centennial collage
      , this is 3rd my semester , I enjoy study here and it is lovely to meet each of you</b></i></p>
</section>

<H3> Download My Resume</H3>
<a href="/doc/chunmanlee_resume.pdf" download="chunmanlee.pdf">Download</a>

    </div>
    </main>
    <!--bottom nav-->


      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
