<%- include ('partials/header.ejs') %>
  <%- include ('partials/main_nav.ejs') %>


    <main class="container">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to <%= title %> page</h1>
        <section>
        <h3> Welcome to My home page</h3>
        <h3> Mission Statement</h3>
        <li>Supporting Personal Development</li>
        <li>Embracing Innovation and Technology</li>
        <li>Promoting Environmental Sustainability</li>
        <li>Preparing Global Citizens</li>


      </div>
    </main>
    <!--bottom nav-->


    <!--script section-->
    <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>