<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <section>
    <h3> Service provided:</h3>
    <img src="/img/programing.jpg" width="200"> </img>
    <h3>Programming language</h3>
    <li>Java</li>
    <li>Javascript</li>
    <li>Python</li>
    <li>C#</li>
    <h3>Computer Network:</h3>
    <img src="/img/networking.jpg" width="200"> </img>

    <li>Routing and switch </li>
    <li>Firewall</li>
    <li>Wireless</li>
  </div>
    </main>
    <!--bottom nav-->


      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
